.nav
    width: 300px
    border-inline-end: solid 4px var(--sidebar-border)
    z-index: var(--elevated-index)
    padding-inline: 34px

    ul
        list-style: none

.group
    margin-block-start: 32px
    margin-block-end: 16px
    color: var(--sidebar-group)

.link
    display: flex
    align-items: center
    height: 40px
    margin: 8px
    padding-inline-start: 16px
    color: var(--sidebar-item-color)
    border-inline-start: solid 1px var(--sidebar-item-border-color)

.link-active
    border-inline-start: solid 4px var(--sidebar-item-border-active)