
.container
    display: grid
    grid-template-columns: 384px 2fr
    width: 100%
    height: 100%

.section
    display: flex
    flex-direction: column
    width: 100%
    height: calc(100vh - 96px)
    padding-block: 64px
    padding-inline: 64px
    overflow: auto
