
.container
    display: flex
    width: 100%
    height: 100%

.content
    display: flex
    flex-direction: column
    width: 100%
    height: 100vh
    padding-block: 96px
    padding-inline: 128px
    overflow: auto

.footer
    display: flex
    justify-content: space-between
    margin-block: 64px
    border-top: solid 2px var(--footer-hr)
    color: var(--footer-text)
