.container
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 64px; 
    align-items: center
    height: 100%
    margin-inline: 128px

.image-container
    min-width: 256px
    max-width: 512px
    rotate: 5deg
    padding: 8px
    background: linear-gradient(45deg, var(--home-image-secondary-background) 34%, var(--home-image-primary-background) 35%, var(--home-image-primary-background) 40%, var(--home-image-secondary-background) 41%, var(--home-image-secondary-background) 59%, var(--home-image-primary-background)  60%, var(--home-image-primary-background) 65%, var(--home-image-secondary-background) 66%), linear-gradient(135deg,var(--home-image-secondary-background) 34%, var(--home-image-primary-background) 35%, var(--home-image-primary-background) 40%, var(--home-image-secondary-background) 41%, var(--home-image-secondary-background) 59%, var(--home-image-primary-background)  60%, var(--home-image-primary-background) 65%, var(--home-image-secondary-background) 66%)
    background-size: 2em 2em
    background-color: transparent

.image
    rotate: -10deg
    box-shadow: var(--shadow)