$IMPERIAL_RED: #E43636
$INDIAN_RED: #E35959
$MIDNIGHT_GREEN: #114B5F
$DARK_SLATE_GRAY: #2F535E
$ZOMP: #539987
$CAMBRIDGE_BLUE: #73998F
$AMBER: #F3B700
$NAPLES_YELLOW: #F2CE61
$GUNMETAL: #1E2528
$EERIE_BLACK: #1F1F1F
$SEA_SALT: #FAFAFA
$SILVER: #AEAEAE
$DIM_GRAY: #6E6E6E

html.light
    --page-background: #{$SEA_SALT}
    --navbar-border: #{$MIDNIGHT_GREEN}
    --navbar-link-color: #{$MIDNIGHT_GREEN}
    --navbar-link-hover: #{$MIDNIGHT_GREEN}
    --navbar-link-selected-color: #{$SEA_SALT}
    --navbar-link-selected-background: #{$MIDNIGHT_GREEN}
    --sidebar-border: #{$MIDNIGHT_GREEN}
    --home-image-primary-background: #{$ZOMP}
    --home-image-secondary-background: transparent
    --section-text-title: #{$ZOMP}
    --section-text-color: #{$EERIE_BLACK}
    --icon-fill-color: #{$MIDNIGHT_GREEN}
    --icon-fill-hover: #{$ZOMP}
    --input-icon: #{$MIDNIGHT_GREEN}
    --input-border: #{$MIDNIGHT_GREEN}
    --input-placeholder: #{$SILVER}
    --input-value: #{$EERIE_BLACK}

html.dark
    --page-background: #{$GUNMETAL}
    --navbar-border: #{$DARK_SLATE_GRAY}
    --navbar-link-color: #{$SEA_SALT}
    --navbar-link-hover: #{$SEA_SALT}
    --navbar-link-selected-color: #{$SEA_SALT}
    --navbar-link-selected-background: #{$DARK_SLATE_GRAY}
    --sidebar-border: #{$DARK_SLATE_GRAY}
    --home-image-primary-background: #{$CAMBRIDGE_BLUE}
    --home-image-secondary-background: transparent
    --section-text-title: #{$CAMBRIDGE_BLUE}
    --section-text-color: #{$SEA_SALT}
    --icon-fill-color: #{$DARK_SLATE_GRAY}
    --icon-fill-hover: #{$CAMBRIDGE_BLUE}
    --input-icon: #{$CAMBRIDGE_BLUE}
    --input-border: #{$CAMBRIDGE_BLUE}
    --input-placeholder: #{$DIM_GRAY}
    --input-value: #{$SEA_SALT}