.page
    display: grid
    grid-template-rows: 96px 0 0 auto 
    height: 100vh
    width: 100vw;
    overflow: hidden;
    background-color: var(--page-background)
    font-family: var(--font-noto-sans)

.ellipsis-button
    margin-inline-start: 32px

.dropdown-container
    position: relative

.mobile-dropdown
    position: absolute
    width: 100%
    z-index: 1100
    ul
        background-color: var(--page-background)
        color: var(--navbar-link-color)
        li
            width: 100%
            padding: 16px
            border-block-end: solid 2px var(--navbar-dropdown-border)

.navbar-list
    display: flex
    align-items: center
    margin-inline: 32px
    gap: 32px
    list-style: none

.navbar-link-active
    background-color: var(--navbar-link-active-background)
    color: var(--navbar-link-active-color)
    box-shadow: var(--light-shadow)

.content
    display: flex

.banner-container
    position: relative
