@font-face {
      font-family: "NunitoSans";
      src: url("assets/fonts/NunitoSans.ttf") format("trueType");
      font-display: swap;
}

:root {
  font-family: "NunitoSans", system-ui, Arial, sans-serif;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

ul, ol, li {
  padding: 0;
  margin: 0;
}

.fade-colors-transition {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
