@font-face {
      font-family: "NunitoSans";
      src: url("assets/fonts/NunitoSans.ttf") format("trueType");
      font-display: swap;
}

:root {
  font-family: "NunitoSans", system-ui, Arial, sans-serif;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
