.banner
    display: flex
    justify-content: center
    align-items: center
    gap: 16px
    width: 100vw
    min-height: 48px
    max-height: 96px
    padding-inline: 16px
    color: var(--banner-text)

.warning
    border-block: 4px solid var(--banner-warning)


    & svg
        margin-block-start: 4px
        & path
        fill: var(--banner-icon-warning)