.banner
    display: flex
    justify-content: center
    align-items: center
    gap: 16px
    height: 42px
    color: var(--banner-text)

.warning
    border-block: 4px solid var(--banner-warning)


    & svg
        margin-block-start: 4px
        & path
        fill: var(--banner-icon-warning)